// element-ui 色调
// Brand Color
@brand-one: rgb(64, 158, 255);
@brand-two: rgb(83, 168, 255);
@brand-three: rgb(102, 177, 255);
@brand-four: rgb(121, 187, 255);
@brand-five: rgb(140, 197, 255);
@brand-six: rgb(160, 207, 255);
@brand-seven: rgb(179, 216, 255);
@brand-eight: rgb(198, 226, 255);
@brand-nine: rgb(217, 236, 255);
@brand-ten: rgb(236, 245, 255);

// 辅助色
// success
@success: #67c23a;
@success-small: rgb(225, 243, 216);
@success-little: rgb(240, 249, 235);
// warning
@warning: #e6a23c;
@warning-small: rgb(250, 236, 216);
@warning-little: rgb(253, 246, 236);
// danger
@danger: #f56c6c;
@danger-small: rgb(253, 226, 226);
@danger-little: rgb(254, 240, 240);
// info
@info: #909399;
@info-small: rgb(233, 233, 235);
@info-little: rgb(244, 244, 245);

// 中性色
@font-one: #303133;
@font-two: #606266;
@font-three: #909399;
@font-four: #c0c4cc;

@bd-one: #dcdfe6;
@bd-two: #e4e7ed;
@bd-three: #ebeef5;
@bd-four: #f2f6fc;

@black: #000;
@white: #fff;


// 按钮渐变色
@btn-top: #ff5f00;
@btn-bottom: #ff2b00;
@btn-blue-top: #72acff;
@btn-blue-bottom: #358eff;

// 属性
@bgc:background-color;
@bgi:background-image;
@bgr:background-repeat;
@bgp:background-position;
@bgs:background-size;
@bg: background;


@jc:justify-content;
@fd:flex-direction;
@ai:align-items;
@fw:flex-wrap;

@fs: font-size;
@fs:font-size;
@bdra:border-radius;


// 常用属性集合
.word-online() {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
// 初始化元素样式
em {
    font-style: normal;
}